<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fit.i_kit">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".Network.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ikitlogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ikitlogo"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme">
        <activity
            android:name=".Acitivities.HomeActivity"
            android:theme="@style/MyMaterialTheme" />
        <activity android:name=".Acitivities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Acitivities.CourseContentAcitivity" />
        <activity android:name=".Acitivities.AboutusActivity" />
        <activity android:name=".Acitivities.ContactusActivity" />
        <activity android:name=".Acitivities.YouTubePlayerActivity" />
        <activity android:name=".Acitivities.ProgramAnswerActivity" />
        <activity android:name=".Acitivities.ResumeLookActivity"></activity>
        <activity android:name=".Acitivities.ExpResumeLookActivity" />
        <activity android:name=".Acitivities.JobShowingActivity" />
        <activity
            android:name=".Acitivities.QuizYouTubeActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".Acitivities.JobWebViewActivity" />
        <activity android:name=".Acitivities.QuizResultsActivity">

        </activity>

        <receiver
            android:name=".Network.ConnectivityReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

    </application>

</manifest>